<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @student.description %>
</p>

<p>
  <strong>Year:</strong>
  <%= @student.year %>
</p>

<p>
<<<<<<< HEAD
  <strong>Class:</strong>
  <%= @student.class %>
=======
  <strong>Cohort:</strong>
  <%= @student.cohort %>
>>>>>>> i think its fixed
</p>

<p>
  <strong>Imgurl:</strong>
  <%= @student.imgUrl %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
